<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SalonBookingApp"
        tools:targetApi="31">


        <activity
            android:name=".BookingCompleted"
            android:exported="false" />
        <activity
            android:name=".BookingConfirmation"
            android:exported="false" />
        <activity
            android:name=".CouponMenu"
            android:exported="false" />
        <activity
            android:name=".CustomerInformation"
            android:exported="false" />
        <activity
            android:name=".PickDateTime"
            android:exported="false" />


        <activity
            android:name=".Cancellation"
            android:exported="false" />
        <activity
            android:name=".BookingDetails"
            android:exported="false" />
        <activity
            android:name=".TimeSlot"
            android:exported="false"
            android:theme="@style/Theme.SalonBookingApp" />
        <activity
            android:name=".WriteReview"
            android:exported="false" />
        <activity
            android:name=".Review"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_api_key" />

        <activity
            android:name=".SearchResult"
            android:exported="false" />
        <activity
            android:name=".SalonDetail"
            android:exported="false" />
        <activity
            android:name=".Map"
            android:exported="false" />
        <activity
            android:name=".staffProfile"
            android:exported="false" />
        <activity
            android:name=".MyPageforStaff"
            android:exported="false" />
        <activity
            android:name=".SearchMonth"
            android:exported="false" />
        <activity
            android:name=".ChooseStaff"
            android:exported="false" />
        <activity
            android:name=".DailySchedule"
            android:exported="false" />
        <activity
            android:name=".Search"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>